body{
    color: rgb(20, 21, 21);
    overflow-x: hidden; /*NÃO APAGUE POR FAVOR ISSO SALVA A PAGINA ARTIGOS*/
    overflow-x: clip !important;
}
h1{
    border: solid 5px;
    border-radius: 25px;
    /* border-color: rgb(20, 21, 21); */
    border-color: rgb(9, 9, 80);
}
h2{
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}
h4{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}
h6{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}
.coluna{
    width: 33.333%;
    text-align: justify;
    float: left;
    padding: 40px;
}
.titulo {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.row{
    text-align: justify;
    padding: 40px;
}
.row:after {
    content: "";
    display: flex;
    clear: both;
}
.imagens_mesa {
    width: 35em;
}
.imagens_canguru{
    width: 45em;
}
.imagens_tutor{
    width: 45em;
}
#toefl1{
    width: 40em;
}
#toefl2{
    width: 45em;
}
.imagens_onc{
    width: 45em;
}
.imagens_oba{
    width: 45em;
}
.imagens_obg{
    width: 45em;
}
.imagens_obmep_mirim{
    width: 40em;
}
.imagens_sos{
    width: 45em;
}
.patrocinadores{
    width: 1200px;
}
.creditos{
    float: right;
    font-family: 'Times New Roman', Times, serif;
}
#texto_medalhistas {
    color: hsl(65, 58%, 40%);
}
#hyperlink {
    color: hsl(133, 55%, 65%);
}
